.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.container-jadwal {
    border-radius: 15px;
    width: auto;
    /* border: 1px solid rgba(94, 94, 94, 0.8); */
    height: auto;
    -webkit-box-shadow: -44px 45px 25px -39px rgba(0,0,0,0.14);
    -moz-box-shadow: -44px 45px 25px -39px rgba(0,0,0,0.14);
    box-shadow: -44px 45px 25px -39px rgba(0,0,0,0.14);
}

.container-jadwal .header-jadwal{
    border-radius: 15px 15px 0px 0px;
    background-color: #188043;
    width: auto;
    height: 60px;
    position: relative;
    text-align: center;
}

.container-jadwal .header-jadwal .text-header{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.container-jadwal .content-jadwal {
    background-color: #ffffff;
    width: auto;
    min-height: 120px;
    border-radius: 15px;
}

.container-jadwal .content-jadwal .header-content-jadwal{
    background-color: #56C596;
    width: auto;
    position: relative;
    height: 40px;
}

.container-jadwal .content-jadwal .header-content-jadwal .text-content{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 4px;
    font-weight: bold;
    color: rgb(2, 49, 0);

}

.container-jadwal .content-jadwal .jadwal{
    width: auto;
    position: relative;
    height: auto;
}

.container-jadwal .content-jadwal .jadwal .text-jadwal{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 12px;
    text-align: center;
    margin: 4px;
    color: rgb(0, 0, 0);
}


.navbar-default {
    background-color: #188043;
    border-color: #074e25;
}

.navbar-default .navbar-brand {
    color: #d7e2e9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #e5dbdb;
}

.navbar-default .navbar-text {
    color: #d7e2e9;
}

.navbar-default .navbar-nav > li > a {
    color: #d7e2e9;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e5dbdb;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #1d964f;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #d7e2e9;
    font-style: normal !important;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #e5dbdb;
    background-color: #188043;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #1d964f;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #e5dbdb;
    background-color: #074e25;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #e5dbdb;
    background-color: #074e25;
}

.navbar-default .navbar-toggle {
    border-color: #074e25;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #074e25;
}

.navbar-default.active .navbar-toggle {
    background-color: #4e0707;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #d7e2e9;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #d7e2e9;
}

.navbar-default .navbar-link {
    color: #d7e2e9;
}

.navbar-default .navbar-link:hover {
    color: #e5dbdb;
}

.dropdown-menu > li > a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
    padding: 7px 5px !important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #d7e2e9;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #e5dbdb;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #e5dbdb;
        background-color: #074e25;
    }
}

.pagination .page-link {
    padding: 1.2rem;
}

.pagination .page-item .page-link {
    color: #56C596;
}

.pagination .page-item.active .page-link {
    background-color: #56C596;
    border-color: #56C596;
    color: white;
}

.service-section .inner-box {
    border: 1px solid #ffaa01;
}


.light-style {
    font-weight: normal !important;
    font-size: 14px !important;
}
