.btn-outline {
    font-size: 14px;
    font-weight: 600;
    color: #188043;
    line-height: 27px;
    padding: 8px 36px;
    border: 1px solid #188043;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0;
}

.add_konsultasi {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 27px;
    padding: 8px 16px;
    background: #188043;
    display: inline-block;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}

.add_konsultasi:hover :active {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 27px;
    padding: 8px 16px;
    background: #063519;
    display: inline-block;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}

.btn-style-one:active {
    font-size: 14px;
    font-weight: 600;
    color: #188043;
    line-height: 27px;
    padding: 8px 36px;
    border: 1px solid #188043;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.btn-outline:active {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 27px;
    padding: 8px 36px;
    background: #188043;
    border: 1px solid #188043;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.btn-outline:hover {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 27px;
    padding: 8px 36px;
    background: #188043;
    border: 1px solid #188043;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    height: 60px;
    line-height: 60px;
    border-radius: 4px;
}

#login-form-wrap {
    background-color: #fff;
    width: 90%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 0 0 0;
    border-radius: 4px;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form {
    padding: 20px 60px;
}

input[type="password"],
input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 0 0 0 10px;
    margin: 0;
    color: #8a8b8e;
    border: 1px solid #c2c0ca;
    font-style: normal;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: inline-block;
    background: none;
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus {
    border-color: #3ca9e2;
}

input[type="password"]:focus:invalid,
input[type="email"]:focus:invalid
input[type="text"]:focus:invalid {
    color: #cc1e2b;
    border-color: #cc1e2b;
}

input[type="password"]:valid ~ .validation,
input[type="email"]:valid ~ .validation,
input[type="text"]:valid ~ .validation{
    display: block;
    border-color: #0c0;
}

input[type="password"]:valid ~ .validation span,
input[type="email"]:valid ~ .validation span,
input[type="text"]:valid ~ .validation span {
    background: #0c0;
    position: absolute;
    border-radius: 6px;
}

input[type="password"]:valid ~ .validation span:first-child,
input[type="email"]:valid ~ .validation span:first-child,
input[type="text"]:valid ~ .validation span:first-child {
    top: 30px;
    left: 14px;
    width: 20px;
    height: 3px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="password"]:valid ~ .validation span:last-child,
input[type="email"]:valid ~ .validation span:last-child,
input[type="text"]:valid ~ .validation span:last-child{
    top: 35px;
    left: 8px;
    width: 11px;
    height: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.validation {
    display: none;
    position: absolute;
    content: " ";
    height: 60px;
    width: 30px;
    right: 15px;
    top: 0px;
}

#btn-login {
    widows: 100;
    border: none;
    display: block;
    background-color: #188043;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 18px;
    position: relative;
    width: auto;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

#btn-login:hover {
    background-color: #074e25;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.container {
    max-width: 1170px;
    margin: auto;
}

img {
    max-width: 100%;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #074e25;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 500px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    align-content: flex-start !important;
    align-items: flex-start !important;
    width: 6%;
}

.received_msg {
    display: inline-flex;
    padding: 0 0 0 32px;
    /* vertical-align: top; */
    max-width: 92%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: rgb(85, 85, 85);
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}


.time_date {
    color: #747474;
    display: block;
    float: right;
    font-size: 12px;
    margin: 8px 0 0;
}

.time_date_respon {
    color: #747474;
    display: block;
    float: left;
    font-size: 12px;
    margin: 8px 0 0;
}

.received_withd_msg {
    width: 57%;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
    background-color: white;
}

.sent_msg p {
    background: #074e25 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.sent_msg {
    float: right;
    max-width: 70%;
}

.sent_msg p{
    float: right;
    text-align: right;
}

.input_msg_write textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    float: left;
    min-height: 48px;
    width: 100%;
    place-content: center !important;
    padding: 8px;
    box-sizing:border-box;
	/* direction:rtl; */
	display:block;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
    min-height: 30px;
}

.msg_send_btn {
    background: #074e25 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 16px;
    top: 12px;
    width: 33px;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_history {
    min-height: 516px;
    overflow-y: auto;
}

.container-title {
    /* padding: 4px; */
    /* border: solid 1px rgb(209, 209, 209); */
    align-content: left;
    text-align: left;
    background-color: #e2e2e2;
    padding: 16px;
}

.judul {
    text-align: left;
    font-size: 24px;
}

.label-contents {
    font-size: 12px;
    color: #8f8f8f;
}
